<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>关于我们</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="__PUBLIC__/Css/ratchet.min.css" rel="stylesheet">
	<style>
		body {font-family:'ratchicons'} 
		@font-face { 
		font-family:ratchicons; 
		src: 
		  url('ratchicons.woff') format('woff'), /* Modern Browsers */ 
		  url('ratchicons.ttf')  format('truetype'), /* Safari, Android, iOS */ 
		  url('ratchicons.svg#ratchicons') format('svg'); /* Legacy iOS */ 
		} 
		@media screen and (max-width: 768px) {
		  .pic img {
			width:100%;
			height:width*50%;
		  }
		}
		.pic {
			text-align:center;
		}
    .who{
      float:left;
      margin-left:10px;
    }
	</style>
  </head>
  <body>
    <header class="bar bar-nav">
      <h5 class="title">关于我们</h5>
    </header>
    <div class="content">
		<div class="content-padded">
			<h5>关于小助手</h5>
			<p>参加比赛过后，我们开始反思能不能开发一款我们自己能使用的产品，于是萌生了开发小助手的念头，项目始于2014年4月中旬，主要由微信公众号“城院小助手”和<a href="http://fir.im/citybox">手机客户端</a>组成。旨在让我们的校园生活更加便利。</p>
			<h5>关于我们团队</h5>
			<p>Artemis是北欧神话中狩猎女神的名字，寓意着我们团队会收获一系列的荣誉。团队形成于2012年底也就是我们大一上学期，3个热爱编程的小伙伴走到了一起。</p>
			<div class="pic">
      		<img src="__PUBLIC__/Image/team.png" alt="左起：摸金校尉，halfcrazy，tiiime">
			<p>左起：摸金校尉，halfcrazy，tiiime</p>
			</div>
      <div class="who" >
			<h5>小助手1.0 开发人员</h5>
			<p><strong>halfcrazy</strong> 负责后台数据爬虫及微信端开发</p>
			<p><strong>tiiime</strong> 负责微信端开发及android端开发</p>
			<p><strong>摸金校尉</strong> 负责android端开发</p>
			<h5>客服</h5>
			<p><strong>生若浮死若休  丶</strong> 负责微信后台答疑及推送</p>
    </div>
      <div class="who" >
			<h5>小助手2.0 开发人员</h5>
			<p><strong>吴希伟 何为</strong> 负责后台数据爬虫及微信端开发</p>
			<p><strong>耿志博 周婷婷</strong> 负责android端开发</p>
			<p><strong>张俊 郝云飞</strong> 负责ios端开发</p>
			<h5>客服</h5>
			<p><strong>肖瑞</strong> 负责微信后台答疑及推送</p>
    </div>
		</div>
    </div>
	<script src="__PUBLIC__/Js/ratchet.min.js"></script>
  </body>
</html>
