<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<title>英语四六级成绩查询 |  csxyxzs</title>

<link href="http://theme.zy62.com/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="http://theme.zy62.com/assets/css/core.css" rel="stylesheet" type="text/css" />
<link href="http://theme.zy62.com/assets/css/components.css" rel="stylesheet" type="text/css" />
<link href="http://theme.zy62.com/assets/css/icons.css" rel="stylesheet" type="text/css" />
<link href="http://theme.zy62.com/assets/css/pages.css" rel="stylesheet" type="text/css" />
<link href="http://theme.zy62.com/assets/css/responsive.css" rel="stylesheet" type="text/css" />
<link href="http://theme.zy62.com/assets/plugins/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css">
<!-- Modal css(Custom box) -->
<link href="http://theme.zy62.com/assets/plugins/custombox/dist/custombox.min.css" rel="stylesheet">

<script src="http://theme.zy62.com/assets/js/modernizr.min.js"></script>

</head>
<body>

	<div class="clearfix"></div>

		<div class=" card-box">
	<div class="panel-heading">
		<h3 class="text-center">英语四六级成绩查询</h3>
	</div>

	<div class="panel-body">
		<form action="" class="form-horizontal m-t-20" onsubmit="return false" method="post" accept-charset="utf-8">

		<div class="form-group ">
			<div class="col-xs-12">
			<input type="text" name="name" value=""  class="form-control" required placeholder="姓名" v-model="name" />

			</div>
		</div>
		<!-- 姓名 end -->

		<div class="form-group ">
			<div class="col-xs-12">
			<input type="text" name="zkzh" value=""  class="form-control" required placeholder="准考证号" v-model="zkzh" />
</div>
		</div>
		<!-- zkzh end -->

		<div class="form-group text-center m-t-40">
			<div class="col-xs-12">
			<input type="submit" value="确定"  class="btn btn-pink btn-block text-uppercase waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal" v-on:click="query" />

			</div>
		</div>

		</form>

	</div>
</div>

<div class="row">
	<div class="col-sm-12 text-center">
		<p>
			怕忘记准考证号?
			<a href="/find" class="text-primary m-l-5"><b>点击这里保存</b></a>
		</p>
	</div>
</div>
<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <h4 class="modal-title">
          查询结果
        </h4>
      </div>
      <div class="modal-body">
      <p class="text-danger">{{message}}</p>
        <div class="row" v-show="status==1">
          <p class="text-success">姓名:{{result.name}}</p>
          <p class="text-success">学校:{{result.school}}</p>
          <p class="text-success">考试类别:{{result.type}}</p>
          <p class="text-success">准考证号:{{result.num}}</p>
          <p class="text-success">考试时间:{{result.time}}</p>
          <hr>
          <p class="text-success">总分:{{score.totleScore}}</p>
          <p class="text-success">听力:{{score.tlScore}}</p>
          <p class="text-success">阅读:{{score.ydScore}}</p>
          <p class="text-success">写作翻译:{{score.xzpyScore}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">
          关闭
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /.modal -->


		<div class="row">
			<div class="col-sm-12 text-center">
				<p>©Copyright 2016 csxyxzs</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 text-center">
				<p>历史保存</p>
				<p>姓名：张三  考号：32342154353422245</p>
				<p>姓名：李四  考号：32342154353422245</p>
				<p>姓名：王五  考号：32342154353422245</p>
			</div>
		</div>

	<!-- jQuery  -->
	<script src="http://theme.zy62.com/assets/js/jquery.min.js"></script>
	<script src="http://theme.zy62.com/assets/js/bootstrap.min.js"></script>
	<script src="http://cdn.bootcss.com/vue/1.0.17/vue.min.js"></script>
	<script src="http://theme.zy62.com/assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
	<!-- Modal-Effect (Custom box)-->
<script src="http://theme.zy62.com/assets/plugins/custombox/dist/custombox.min.js"></script>
<script src="http://theme.zy62.com/assets/plugins/custombox/dist/legacy.min.js"></script>
<script>
vm = new Vue({
	  el: 'body',
	  data: {
	    message: '',
	    status:0,
	    name:'',
	    zkzh:'',
	    result:[],
	    score:[]
	  },
	  methods:{
		  query:function(e){
			  var post_data='name='+this.name+'&zkzh='+this.zkzh;
			  $.post('http://cet.zy62.com/query/1',post_data,function(res){
				  if(res.status==200){
					  vm.$data.status=1;
					  vm.$data.message='';
					  vm.$data.result=res.result;
					  vm.$data.score=res.score;
					  }else{
						  vm.$data.status=0;
						  vm.$data.message=res.message;
						  }
				  
				  });
			  }
		  }
	})
</script>
	<!-- <div style="display:none;"> -->
   <!-- <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); -->
<!-- document.write(unescape("%3Cspan id='cnzz_stat_icon_1253694960'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1253694960%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script> -->
  </div>
</body>
</html>
